.custom-marker {
        font-size: 1.5em;
        // padding: 10px;
        background: rgba(0,0,0,0.3);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: #7F7F7F solid 1px;
        display: block;
        color: white;
        min-width: 30vw;
        max-width: 60vw;

      }

      .custom-marker:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #fff transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -6px;
        bottom: -6px;
        // left: 50%;
        display: none;
      }

      .custom-marker:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 7px 6px 0;
        border-color: #7F7F7F transparent;
        display: block;
        width: 0;
        z-index: 0;
        color: white;
        margin-left: -6px;
        bottom: -7px;
        display: none;
        // left: 50%;
      }

.custom-marker-innerdiv{
  // padding: 5px;
  // position: relative;
  display: block;
      div{
        width: 100%;
      }
      a{
        color: white;
        font-size: 1.2em;
      }
}
// .userProfileIcon-mainpage-custom-markerNav{
//   display: inline-block;
//   background: url("../images/user-profile.png") center center no-repeat;
//   background-size: cover;
//   width: 2em;
//   height: 2em;
// }
