
custom-control{
  // width: 100vw;
  text-align: center;
  // vertical-align: text-bottom;
  // height: 5vh;
  .container{
    width: 100%;

  }
  div{
    width: 100%;

  }

}

#custom-control-marker-filter{
  background: rgba(240,240,240,0.7);

  margin: 0;
  padding: 0;

    div{
      margin: 0;
      padding: 0;
    }
}



.searchControl{
  margin: 0;
  padding: 0;
  width: 100%;
  input{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.hello-user{
  font-size: 1.5em;
  display: inline;
  // float: left;

}

.logout{
  font-size: 1.5em;

  display: inline;
  // float: left;
  color: blue;
}
.main-view-message{
// padding: 0.5em 0;

}
#top-control{
  background: rgba(240,240,240,0.7);
  border-radius: 15px;
  // padding: 2em;
  // margin: 1em 0 0 0;
    .row{
      margin: 0;
      padding: 0;
    }
  // margin: 5px;
}
.filter-checkbox{
  position: relative;
  display: inline;
  float: left;
  // bottom: 1em;
}
.markerfilters{
    padding: 0;
    margin: 0;
    p{
      display: inline;
      float: left;
      font-size: 1.5em;
      margin: 0;
      padding: 0em 0.3em;
    }
    input{
      display: inline;
      // float: left;
      margin: 0;
      padding: 0;
    }
}
