.homeIcon-profilepage{
  // margin: 0 3em 0 3em;
  display: inline-block;
  background: url("../images/home.png") center center no-repeat;
  background-size: contain;
  width: 2em;
  height: 2em;
}
.userProfileIcon-profilepage{
  // margin: 0 3em 0 3em;
  display: inline-block;
  background: url("../images/user-profile.png") center center no-repeat;
  background-size: contain;
  width: 2em;
  height: 2em;
}
.user-profile-nav{
  position: relative;
  background: rgb(240,240,240);
      .row {
        padding: 1em 0em 1em 0em;
      }

}
