
// bower:scss

// endbower

@import 'forms';
@import "custommarker";
@import "custommapcontrols";
@import "infoWindow";
@import "profilepage";

html{
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
}

body {
  padding: 0;
  margin: 0;
  // width:100vw;
  // height:100vh;
}

div {
  margin: 0;
  padding: 0;
}


ng-map{
  margin:0;
  padding: 0;
  width:100vw;
  height:100vh;
  position: absolute;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}
input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}
.error {
  color: red;
  padding-bottom: 10px;
  padding-top: 10px;
}
#main-nav{
  // background: rgba(230,230,230,0.7);
margin: 0;
padding: 0;
// width: 80%
}
#info-window{
    font-size: 0.5em;

}
.homeIcon{
  // margin: 0 3em 0 3em;
  display: inline-block;
  background: url("../images/home.png") center center no-repeat;
  background-size: cover;
  width: 6em;
  height: 6em;
}
.userProfileIcon{
  // margin: 0 3em 0 3em;
  display: inline-block;
  background: url("../images/user-profile.png") center center no-repeat;
  background-size: cover;
  width: 6em;
  height: 6em;
}
.settingsIcon{
  // margin: 1em 0.5em 0 0.5em;
  display: inline-block;
  background: url("../images/settings.png") center center no-repeat;
  background-size: cover;
  width: 6em;
  height: 6em;
}
