// bower:scss

// endbower

@import 'forms';
@import "custommarker";
@import "custommapcontrols";
@import "infoWindow";
@import "profilepage";

html{
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
}

body {
  padding: 0;
  margin: 0;
  // width:100vw;
  // height:100vh;
}

div {
  margin: 0;
  padding: 0;
}


ng-map{
  margin:0;
  padding: 0;
  width:100vw;
  height:100vh;
  position: absolute;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}
input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}
.error {
  color: red;
  padding-bottom: 10px;
  padding-top: 10px;
}

#info-window{
    font-size: 0.5em;

}
.homeIcon{
  position: relative;
  display: inline-block;
  background: url("../images/home.png") center center no-repeat;
  background-size: cover;
  width: 4em;
  height: 4em;
  z-index: 10;
  padding: 0;
  margin: 1em 3em 1em 0;
}
.userProfileIcon{
  padding: 0;
  margin: 1em 3em 1em 0;
  position: relative;
  display: inline-block;
  background: url("../images/user-profile.png") center center no-repeat;
  background-size: cover;
  width: 4em;
  height: 4em;
z-index: 11;
}
.settingsIcon{
  // margin: 1em 0.5em 0 0.5em;
  display: inline-block;
  background: url("../images/settings.png") center center no-repeat;
  background-size: cover;
  width: 4em;
  height: 4em;
  margin: 0.5em;
  padding: 0;
  float: left;
}

@media(max-width: 800px){
  // .userProfileIcon{
  //   width:4em;
  //   height: 4em;
  //
  // }
  // .homeIcon{
  //   width: 4em;
  //   height: 4em;
  // }

}
