// bower:scss
// endbower

html{
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

div {
  margin: 0;
  padding: 0;
}
ng-view {
  margin: 0;
  padding: 0;

}
ng-map{
  margin:0;
  padding: 0;
  width:100%;
  height:100%;
  position: absolute;
}

ng-view{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top:0;
  background: white;
}
// custom-control{
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
