<div ng-controller="UserProfileCtrl">

        <div id='user-profile'>
              <a ui-sref="main">
                  <h1>Home</h1>
              </a>
              <a ui-sref="add-a-resource">
                  <h1>Add A Resource</h1>
              </a>
        </div>

<!------  This page will contain nested views for the login/register  that will load for now
I will keep both in the main section  untill I figure it out

      <div ui-view="user-profile.login"></div>


       -->


       <form name="userLogin"  ng-submit="login()" novalidate>

               <div class="text-intro">
                     <h1>Login</h1>
               </div>


               <fieldset>
                         <input type="text" name="username" placeholder="User Name" ng-model="user.username"
                               ng-required="true">

                               <p class="error validationError" ng-show="userLogin.username.$invalid && userLogin.username.$touched">
                               Please fill out your user name</p>


                         <input type="password"
                              name="password" placeholder="Password"
                              ng-model="user.password"
                              ng-required="true"
                              ng-minlength="6">

                              <p class="error validationError" ng-show="userLogin.password.$invalid && userLogin.password.$touched">
                                The password must be at least six characters</p>
               </fieldset>

               <button type="submit" ng-disabled="userLogin.$invalid" class="btn">Submit</button>
       </form>
       <p>or <a ui-sref='user-profile.register'>Register</a></p>

       <div ui-view></div>


</div>  <!-- close controller   -->
