<div ng-controller="AddAResourceCtrl">


    <select name="chooseResourceType" ng-required="true" ng-model="resource.type" ng-change="changeResourceType()" novalidate>
            <option value="shelter">Shelter</option>
            <option value="water">Water</option>
            <option value="food">Food</option>
            <option value="electricity">Electricity</option>
            <option value="clothing">Clothing</option>
            <option value="cleanup">Cleanup</option>
    </select>



</div>
