<div ng-controller="AddAResourceCtrl">
    <div class="container">
          <div class="row">
            <h1>Add A Resource</h1>


            <p>{{resourceaddress}}</p>
            <p>{{resourcelat}}</p>
            <p>{{resourcelng}}</p>

            <a ui-sref="main">Main</a>
            <form name="addAResource" ng-submit="addResource()"  novalidate>


                             <fieldset>

                               <div class="resourceType col-lg-3 text-left">
                                 <h3>Resource Type</h3>
                                 <p>Shelter <input type="checkbox" name="resourceTypeShelter"ng-model="resource.type.shelter"><p>
                                 <p>Water <input type="checkbox" name="resourceTypeWater"ng-model="resource.type.water"></p>
                                 <p>Food <input type="checkbox" name="resourceTypeFood"ng-model="resource.type.food"></p>
                                 <p>Electricity <input type="checkbox" name="resourceTypeElectricity"ng-model="resource.type.electricity"></p>
                                 <p>Clothing <input type="checkbox" name="resourceTypeClothing"ng-model="resource.type.clothing"></p>
                                 <p>Clean up <input type="checkbox" name="resourceTypeCleanup"ng-model="resource.type.cleanup"></p>
                               </div>

                               <div class="col-lg-3 text-left">
                                       <div class="col-lg-12 ">
                                         <h3>Resource Name</h3>
                                         <input type="text" name="resourcename" ng-model="resource.name"
                                          ng-required="true" placeholder="Resource Name">

                                       </div>


                                       <div class="col-lg-12">
                                         <h3>Resource Website</h3>
                                         <input type="url" name="resourcewebsite" ng-model="resource.website"
                                              ng-required="false" placeholder="Website">
                                       </div>

                                       <div class="col-lg-12">
                                         <h3>Resource Hours</h3>
                                         <input type="text" name="resourcehours" ng-model="resource.hours"
                                              ng-required="false" placeholder="Hours Open">
                                       </div>
                               </div>


                               <div class="col-lg-6">
                                 <h3>Resource Description</h3>
                                 <textarea name="resourcedescription" rows="8" cols="50"
                                      ng-model="resource.description" ng-required="false">Description</textarea>
                               </div>


                             </fieldset>


                           <button type="submit" class="btn" ng-disabled="addAResource.$invalid">Submit Resource</button>
               </form>
                      <h2 class='col-lg-12 success-message'>{{message}}</h2>
          </div>   <!--close row    -->
      </div> <!--close container    -->
      <div class="container">
        <div class="row">


          <div class="col-lg-6" ng-repeat="(key, resource) in resource">

                  <div class="col-lg-12 resource-info-heading">
                      <h3>{{resource.name}}</h3>                      
                      <p>{{resource.location.formatted_address}}</p>
                      <p>{{resource.location.LatLng.lat}},{{resource.location.LatLng.lng}}</p>

                  </div>  <!-- close  resource-info-heading   -->
                  <div class="col-lg-12">
                    <button class="btn btn-primary delete-button" ng-click="deleteResource(key)">
                      Delete this resource</button>
                  </div>






          </div>  <!-- close resource -- >

        </div>

      </div>
</div>  <!--close controller  -->
