

<div ng-controller="MainCtrl as vm">


  <ng-map class="map" default-style="false" center="seattle" on-center-changed="vm.centerChanged()">

          <custom-control class="searchControl searchInput" position="TOP_CENTER">
            <h2>Find Current Shelters</h2>

            <input places-auto-complete size=80
              ng-model="vm.address"
              component-restrictions="{country:'us'}"
              on-place-changed="vm.placeChanged()"
             />
          </custom-control>

  </ng-map>  <!--  close map   -->


</div>     <!--close controller -->
