
<div ng-controller="MainCtrl as vm">

  <ng-map class="map" default-style="false" center="seattle"
      on-center-changed="vm.centerChanged()" map-type-control="false"
      on-click="vm.placeMarker()" ng-disabled="inProgress" id="map">

        <custom-control class="searchControl searchInput" position="TOP_CENTER">
          <a ui-sref="main">
              <h1>Home</h1>
              </a>
              <h3 ng-show="currentUser"> Hi {{currentUser.firstname}} <a ui-sref="user-profile" ng-click="logout()">Logout</a></h3>

          <input places-auto-complete size=80
            ng-model="vm.address"
            component-restrictions="{country:'us'}"
            on-place-changed="vm.placeChanged()"
           />
        </custom-control>

        <custom-control position="TOP_RIGHT">


          <a ui-sref="user-profile">
              <h1>User Profile</h1>
              </a>
        </custom-control>

        <custom-control position="TOP_LEFT">
          <div id="floating-panel">
          <input id="latlng" type="text"
           ng-model="vm.currentMarkerValue" ng-show="vm.hideinput">
          </div>
        </custom-control>


          <custom-marker id="customthings" position="[{{lat}},{{lng}}]" >
               <div class="custom-marker-innerdiv">
                    <p ng-click="vm.closeCustomMarker(); vm.reAble() ">X</p>
               </div>
                 <div class="custom-marker-innerdiv">
                    <a ui-sref="add-a-resource">click here to add a resource</a>
                </div>
         </custom-marker>

         <marker ng-repeat="resource in vm.resourceMarkers"
         position="{{[resource.location.LatLng.lat, resource.location.LatLng.lng]}}"
         id="{{resource.id}}"
        on-click="vm.showMarkerData(resource)"
        title="{{resource.name}}">

      </marker>



         <info-window id="info-window" position="{{[vm.resource.location.LatLng.lat, vm.resource.location.LatLng.lng]}}">
       <div ng-non-bindable="" >
         <h2>{{vm.resource.name}}</h2>
         <div class="info-window-resource-type">
           <h3>Resource Type:</h3>
           <p ng-show="vm.resource.type.water">Water</p>
           <p ng-show="vm.resource.type.shelter">Shelter</p>
           <p ng-show="vm.resource.type.food">Food</p>
           <p ng-show="vm.resource.type.electricity">Electricity</p>
           <p ng-show="vm.resource.type.sanitation">Sanitation</p>
           <p ng-show="vm.resource.type.clothing">Clothing</p>


         </div>

         <p>{{vm.resource.hours}}</p>
         <p>{{vm.resource.description}}</p>

       </div>
     </info-window>

     </ng-map>      <!-- close map -->




  </div>
